@page
@model School.Pages.Exam.IndexModel
@{
}
<table cellpadding="5">
    <tr>
        <th>
            Exam Id
        </th>
        <th>
            Student Id
        </th>
        <th>
            Student Name
        </th>
        <th>
            Score
        </th>
        <th>
            Edit
        </th>
        <th>
            Delete
        </th>
    </tr>
    @foreach(School.DAL.Exam exam in Model.Exams)
    {
        <tr>
            <td>
                @exam.ExamId
            </td>
            <td>
                @exam.StudentId
            </td>
            <td>
                @exam.FirstName @exam.LastName
            </td>
            <td>
                @exam.Score.ToString()
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@exam.ExamId">Edit</a>
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@exam.ExamId">Delete</a>
            </td>
        </tr>
    }
</table>
<div>
    <a asp-page="./Edit">Add a New Exam Score</a>
</div>